html, body {
	font-family: "Arial Rounded", Arial;
	margin: auto;
	background: black;
}
.cell {
	width: 10vw;
	height: 10vw;
	float: left;
	background: peru;
	overflow-y: hidden;
	transition: all 200ms ease-in-out;
}
.cell:hover {
	cursor: pointer;
	opacity: 0.9;
}
.grass, .soil:hover {
	background: forestgreen;
}
.grass:hover {
	opacity: 0.9;
}
.sprout {
	width: .5vw;
	height: .5vw;
	margin: .3vw;
	background: yellow;
	float: left;
	border-radius: 50%;
	transition: all 200ms ease-in-out;
}
.sprout:hover {
	opacity: 0.9;
}

.sprout.big {
	transform: scale(3);
	background: orange;
}

.sprout.bigger {
	transform: scale(5);
	background: orangered;
}

.sprout.biggest {
	transform: scale(100);
	background: red;
	transition: all 200ms ease-in-out;
}