@font-face {
	font-family: 'Arial Rounded MT Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Arial Rounded MT Bold'), url('./assets/ARLRDBD_0.woff') format('woff');
}

html, body {
	font-family: 'Arial Rounded MT Bold';
	background-color: bisque;
	font-size: 20px;
	line-height: 25px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	width: 100%;
	margin: 10px;
}

h1 {
	font-size: 40px;
	line-height: 45px;
}
h2 {
	font-size: 30px;
	line-height: 35px;
}
h3 {
	font-size: 25px;
	line-height: 30px;
}

a {
	color: blue;
}

.inline {
	display: inline;
}

.inactive {
	opacity: .2;
	filter: grayscale(1);
	pointer-events: none;
	text-decoration: line-through !important;
}

header {

}

header, section {
	width: 98%;
	margin: 2% 1%;
	padding: 1%;
	border-width: 2px;
	border-color: blue;
	border-style: solid;
	border-radius: 10px;
	display: flex;
    flex-wrap: wrap;
}
header {
	color: blue;
	border-color: blue;
	background-color: rgba(0,0,255,.05);
}

section:nth-child(3n+1) {
	color: red;
	border-color: red;
	background-color: rgba(255,0,0,.05);
}
section:nth-child(3n+2) {
	color: green;
	border-color: green;
	background-color: rgba(0,255,0,.05);
}
section:nth-child(3n+3) {
	color: blue;
	border-color: blue;
	background-color: rgba(0,0,255,.05);
}

ul, ol {
	display: table;
}

li {
	padding: 0 0 10px 0;
}

.links {
	display: table;
}

.thumbs {
	width: 100%;
	margin: 30px 0;
	display: table;
}
.thumb {
	width: 10%;
	min-width: 200px;
	float: left;
	margin: 5px;
	text-decoration: none;
}
.thumb img {
	width: 100%;
}
.thumb em {
	font-size: 15px;
	line-height: 15px;
	color: gray;
	font-family: serif;
	text-decoration: none;
}

.outline {
	padding: 15px;
	margin: 5px;
	border-radius: 50%;
	text-decoration: none;
	display: table;
	float: left;
	color: black;
	transition: color 500ms ease, background 500ms ease;
}
a.outline:hover {
	
}

.outline:nth-child(7n + 1) {
	color: violet;
	background-color: gold;
}
a.outline:nth-child(7n + 1):hover {
	color: gold;
	background-color: violet;
}

.outline:nth-child(7n + 2) {
	color: coral;
	background-color: steelblue;
}
a.outline:nth-child(7n + 2):hover {
	color: steelblue;
	background-color: coral;
}

.outline:nth-child(7n + 3) {
	color: deeppink;
	background-color: springgreen;
}
a.outline:nth-child(7n + 3):hover {
	color: springgreen;
	background-color: deeppink;
}

.outline:nth-child(7n + 4) {
	color: navy;
	background-color: lightskyblue;
}
a.outline:nth-child(7n + 4):hover {
	color: lightskyblue; 
	background-color: navy;
}

.outline:nth-child(7n + 5) {
	color: black;
	background-color: tan;
}
a.outline:nth-child(7n + 5):hover {
	color: tan;
	background-color: black;
}

.outline:nth-child(7n + 6) {
	color: chartreuse;
	background-color: orange;
}
a.outline:nth-child(7n + 6):hover {
	color: orange;
	background-color: chartreuse;
}

.outline:nth-child(7n + 7) {
	color: yellow;
	background-color: teal;
}
a.outline:nth-child(7n + 7):hover {
	color: teal;
	background-color: yellow;
}

.full {
	width: 100%;
}
.half {
	width: 48%;
	float: left;
}